<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="expires" content="0">
    <title>大转盘</title>
    <meta name="description" content="">
    <style>
        canvas {
            background-color: #ccc;
        }
    </style>
</head>
<body>
<canvas id="canvas"></canvas>
<br>
<button id="start">开始</button>
<button id="pause">暂停</button>
<button id="reset">重置</button>
<script src="../plugins/jquery.min.js"></script>
<script src="../plugins/lodash.min.js"></script>
<script src="../plugins/createjs.min.js"></script>
<script src="../lib/rotary.js"></script>
<script src="../js/rotary/main.js"></script>
</body>
</html>